<!-- income-table.handlebars -->
<table id="{{name}}Table" data-tablename="{{name}}" class="table-fixed w-full"><thead>
    <tr class="text-left text-gray-500 w-1/5">
      <th>Date</th>
      <th class="w-1/2 pl-5">Name</th>
      <th class="text-right">Amount</th>
    </tr>
  </thead>
  <tbody>
    {{!-- Loop through income entries --}}
    {{#each data}}
    <tr data-entryId="{{id}}" class="py-2 border-t-2 border-gray-700 text-left text-gray-300 w-1/5">
      <td class="py-2 text-gray-400">{{scheduled_date}}</td>
      <td class="w-1/2 pl-5">{{name}}</td>
      <td class="text-right">${{amount}}</td>
      <td class="text-right">
       <button class="px-1 fas fa-edit edit-button text-gray-500 hover:text-gray-200"></button>
        <button class="px-1 fas fa-trash delete-button text-gray-500 hover:text-red-900 "></button>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>